<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement">
		<settings>
			<setting name="EASFeatureEnabled" value="true" />
		</settings>

		<authorization security:require="Sitecore">
			<patch:attribute name="defaultProvider">external</patch:attribute>
			<providers>
				<clear />
				<add name="external" type="DreamTeam.Foundation.Security.AccessControl.ExternalAuthorizationProvider, DreamTeam.Foundation.Security" connectionStringName="security" embedAclInItems="true">
					<param ref="dataApis/dataApi[@name='SqlServer']" param1="$(connectionStringName)"/>
				</add>
			</providers>
		</authorization>

		<services>
			<configurator type="DreamTeam.Foundation.Security.RegisterDependencies, DreamTeam.Foundation.Security" />
            <!-- Specifically moved this DI registry to config rather than in code -->
			<register serviceType="DreamTeam.Foundation.Security.Providers.IExternalAuthorizationSystemProvider, DreamTeam.Foundation.Security" implementationType="DreamTeam.Foundation.Security.Providers.ExternalAuthorizationSystemProvider, DreamTeam.Foundation.Security" lifetime="Singleton"/>
		</services>
	</sitecore>
</configuration>